$black: #000000;
$white: #fff;
$logohover:rgba(29, 55, 240, 0.1);
$gray:rgb(231, 231, 232);
$lightgray:rgb(231, 231, 232,0.4);
$darkgray:rgb(83, 100, 113);;
$lightblue: rgb(29, 155, 240,0.9);
$lightblue1: rgb(29, 155, 240,0.6);
$darkblue:rgb(29, 155, 240);
