@use 'abstracts/reset';
@use 'abstracts/variables' as *;

body {
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif;
}

.container {
  max-width: 1260px;
  margin: auto;
  display: flex;
}

.timeline {
  padding-left: 30px;
  max-width: 30%;
}

.tweet-flow {
  max-width: 50%;
  margin-left: auto;
  border: 3px solid $lightgray;

  & header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;

    & .header {
      display: flex;
      justify-content: space-between;
      background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7));
      padding: 15px 20px;

      & h2 {
        font-size: 20px;
        font-weight: 700;
        color: $color;
      }

      & img {
        border-radius: 50px;
        width: 25px;
        height: 25px;

        &:hover {
          background-color: $gray ;
        }
      }
    }
  }

  & .happening {
    margin-left: 20px;
    display: flex;
    padding: 10px 20px;

    & img {
      margin-top: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      opacity: 0.9;

      &:hover{
        opacity: 1;
      }
    }

    & .input {
      position: relative;
      margin: 15px 0 10px 10px;
      font-size: 20px;
      color: $color;

      &:active .reply{
        display: block;
        position: absolute;
      }

      & .reply {
        color: $darkblue;
        font-size: 15px;
        display: none;

        & img {
          margin-right: 10px;
          width: 20px;
          height: 20px;
        }
      }
    }

  }

  & .buttons {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 3px solid $lightgray;
    margin-left: 70px;

    & button {
      padding: 10px;
      border-radius: 50px;

      &.disabled {
        &:hover {
          background-color: unset;
        }
      }

      &:hover {
        background-color: $logohover;
      }

      & img {
        width: 25px;
        height: 25px;
      }
    }

    & .create-tweet {
      padding: 10px 20px;
      background-color: $lightblue1;
      color: $white;
      font-size: 15px;
      font-weight: 700;
      border-radius: 50px;
    }

  }

  & .tweet-1{
    border-bottom: 3px solid $lightgray;
    margin-left:10px;
    .profile-button {
      margin-left: 20px;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      cursor: pointer;
  
      & b {
        font-weight: 600;
        color: $color;
      }
  
      & p {
        color: $shadeofgray;
      }
  
      & .profile-img {
        height: 50px;
        width: 50px;
        border-radius: 50px;
      }
  
      & .profile-icon {
        height: 30px;
        width: 30px;
        margin: 10px 0 0 15px;
      }
    }
  
    & .tweet-flow-buttons {
      display: flex;
      grid-gap:110px;
      margin: 20px 80px;
      & button{
      & img {
        width: 20px;
        height: 20px;
      }
    }
    }
  }
}