@use '../abstracts/variables' as *;

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 0 0 20%;
  padding: 12px;
  position: fixed;
  background-color: $white;
  & .logo {
    display: block;
    width: 52px;
    height: 52px;
    padding: 10px;
    margin-left: 10px;
    & img {
      width: 100%;
      height: 100%;
    }
    &:hover {
      background-color: $logohover;
      border-radius: 100px;
    }
  }

  & .nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    &-link {
      font-size: 20px;
      padding: 12px 20px;
      border-radius: 100px;
      color: $black;
      width: fit-content;
      display: flex;
      align-items: center;
      grid-gap: 20px;
      & img {
        width: 26px;
        height: 26px;
      }
      &:hover {
        background-color: $gray;
      }
    }

    & .create-tweet{
      margin-top: 15px;
      padding:15px 90px;
      width: fit-content;
      font-family: inherit;
      font-size: 17px;
      font-weight: 700;
      color: $white;
      background-color: $lightblue;
      border-radius:100px;
      cursor: pointer;

      &:hover{
        background-color: $darkblue;
      }

    }
  }

  .profile-button{
    display: flex;
    grid-gap:5px;
    margin-top: auto;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
    
    &:hover{
      background-color: $gray;
   
    }

   & b{
    font-weight: 600;
    color: $color;
   }

   & p{
    color: $shadeofgray;
   }

    & .profile-img{
      height: 50px;
      width: 50px;
      margin-right: 10px;
      border-radius: 50px;
    }

    & .profile-icon{
      height: 30px;
      width: 30px;
      margin: 10px 0 0 15px;
    }
  }
}
